@{
    ViewBag.Title = "Adminmenu";
    Layout = "~/Views/Shared/_Layoutdish.cshtml";
}
@section tabs{
    <div class="menu-row">
            	<div class="menu-border">
                	<div class="main">
                        <nav>
                            <ul class="menu">
                                <li><a class="active" href="/Home/index">Main</a></li>
                                
                                <li><a href="/Home/calendar">Dish to Order</a></li>
                                
                                <li><a href="/Account/login">  Log Out</a></li>
                                <li class="last"><a href="/Home/contacts">Contacts</a></li>
                                <li><a href="/Home/about">About Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
}
                        	<article class="col-1">
                                <div class="bg">
                                    <div class="padding">
       
         <div><a href="/Admin/Adddish"><input style="margin-left:200px" width="20%" height="20%" type="button" value="Add Dish"/></a><br />
          <a href="/Admin/Update_dish_get_id"><input style="margin-left:200px" width="20%" height="20%" type="button" value="Update Dish"/><br />
          <a href="/Admin/Delete_dish_get_id"><input style="margin-left:200px" width="20%" height="20%" type="button" value="Delete Dish"/><br />
          <a href="/Admin/view_all_dishes"><input style="margin-left:200px" width="20%" height="20%" type="button" value="View All Dishes"/><br />
          
            </div>

        </div>
                                     </div>
                            </article>
                          
                        