@{
    ViewBag.Title = "dboperationspage";
    Layout = "~/Views/Shared/_Layoutdish.cshtml";
}

<h2>dboperationspage</h2>
<article class="col-1">
                                <div class="bg">
                                    <div class="padding">
                                    	<h3 class="p2">Recent Food</h3>
                                        <div class="wrapper p3">
                                        	<!--<figure class="img-indent"><img src="~/images/aloo-shimla.jpg" alt="" width="40%" height="40%"/></figure>-->
                                         
                                            <figure class="img-indent" ><img src="~/images/aloo-shimla.jpg" alt="" width="40%" height="40%"/> 
                                            <div class="extra-wrap" >
                                            	<h6>Aloo Shimla Mirch</h6>
                                                <p class="p1">Category: Vegetable</p>
                                                <p class="p1">Region: Pakistan</p>
                                                <p class="p1">Price: Rs: 75/1kg</p>
                                                <a class="button-2" href="/Home/ordernow">Update</a>
                                                 <a class="button-2" href="/Home/ordernow">Delete</a>
                                                 
                                            </div>
                                                </figure>
                                        </div>
                                        <div class="wrapper p3">
                                        	<figure class="img-indent"><img src="~/images/pakistani-food.jpg" alt="" width="40%" height="40%"/>
                                            <div class="extra-wrap">
                                            	<h6>Sarson ka Saad</h6>
                                               <p class="p1">Category: Vegetable</p>
                                                <p class="p1">Region: Punjab, Pakistan and India</p>
                                                <p class="p1">Price: Rs: 75/1kg</p>
                                                <a class="button-2" href="#">Order Now</a>
                                            </div>
                                                </figure>
                                        </div>
                                        <div class="wrapper img-indent-bot">
                                        	<figure class="img-indent"><img src="~/images/daalchawal3.jpg" alt=""width="40%" height="40%" />
                                            <div class="extra-wrap">
                                            	<h6>Daal Chawal</h6>
                                                 <p class="p1">Category: Grain</p>
                                                <p class="p1">Region: India</p>
                                                <p class="p1">Price: Rs: 75/1 plattar</p>
                                                <a class="button-2" href="#">Order Now</a>
                                                </div>
                                                </figure>
                                        </div>
                                        <div class="wrapper">
                                        	<figure class="img-indent"><img src="~/images/chinese.jpg" alt="" width="40%" height="40%"/>
                                            <div class="extra-wrap">
                                            	<h6>Beef with broccoli</h6>
                                                <p class="p1">Category: Vegetable and Meat</p>
                                                <p class="p1">Region: Chinese</p>
                                                <p class="p1">Price: Rs: 300/1 plattar</p>
                                                <a class="button-2" href="#">Order Now</a>
                                            </div>
                                                </figure>
                                        </div>
      </div>
                                </div>