
    <div class="inner">
            <div class="main">
                <section id="content">
                    <div class="indent">
                    	<div class="wrapper">
                        	
        @RenderBody()
                                   
                          
                        </div>
                    </div>
                </section>
                <div class="block"></div>
            </div>
        </div>

